.search-bar {
    color: #FF6060;
    display: flex;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar form input {
    padding-left: 5px;
    border: none;
}

.search-bar form input:focus {
    outline: none;
}