.item-card {
    height: 150px;
    width: 150px;
    background-color: #FBFBFB;
    box-shadow: 0 0 10px #FF6060;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

