.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#FF6060, #FF8159);
    padding: 20px;
}

.buy-bar {
    height: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buy-bar button {
    background: none;
    border: none; 
    color: white;
    opacity: 0.5;
}


.buy-bar button:focus {
    outline: 0;
    color: #FBFBFB;
    opacity: 1;
}